{{!
    Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: vladan@reciprocitylabs.com
    Maintained By: vladan@reciprocitylabs.com
}}

{{#instance}}
  <section class="content">

    <div class="row-fluid wrap-row">
      <div class="span12">
        <h2>Reporting Dashboard</h2>
      </div>
    </div>

    <div class="row-fluid wrap-row">
      <div class="span4">
        <div class="box-wrap">
          <h3>Onboarding Progress Dashboard</h3>
          <p>
            Our new progress dashboard helps customers visualize
            their progress in terms of building a system-of-record.
          </p>
          <p>
            The dashboard tracks 4 vital metrics to help you understand
            how well you’re complying with a certain standard.
          </p>
          <a href="javascript://" class="btn btn-large btn-primary">
            <i class="fa fa-arrow-circle-o-down white"></i>
            Download <span>(.xlsx)</span>
          </a>
        </div>
      </div>
      <div class="span4">
        <div class="box-wrap">
          <h3>Onboarding Progress Dashboard</h3>
          <p>
            Our new progress dashboard helps customers visualize
            their progress in terms of building a system-of-record.
          </p>
          <p>
            The dashboard tracks 4 vital metrics to help you understand
            how well you’re complying with a certain standard.
          </p>
          <a href="javascript://" class="btn btn-large btn-primary">
            <i class="fa fa-arrow-circle-o-down white"></i>
            Download <span>(.xlsx)</span>
          </a>
        </div>
      </div>
      <div class="span4">
        <div class="box-wrap">
          <h3>Onboarding Progress Dashboard</h3>
          <p>
            Our new progress dashboard helps customers visualize
            their progress in terms of building a system-of-record.
          </p>
          <p>
            The dashboard tracks 4 vital metrics to help you understand
            how well you’re complying with a certain standard.
          </p>
          <a href="javascript://" class="btn btn-large btn-primary">
            <i class="fa fa-arrow-circle-o-down white"></i>
            Download <span>(.xlsx)</span>
          </a>
        </div>
      </div>
    </div>

    <div class="row-fluid wrap-row centered">
      <div class="span12">
        <p>Need help? <a href="javascript://">Contact us</a></p>
      </div>
    </div>

  </section>
{{/instance}}
