<div id="QuickTaskEdit"
    class="modal hide fade modal-selector ui-draggable"
    tabindex="-1"
    role="dialog"
    aria-labelledby="QuickTaskEditLabel"
    aria-hidden="true"
    data-template="/static/mustache/workflow-v2.2/task_modal_content.mustache"
    {{data 'instance'}}
>
  <div class="modal-inner-content">
  </div>
</div>
