{{!
    Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: vladan@reciprocitylabs.com
    Maintained By: vladan@reciprocitylabs.com
}}

<section class="content">
  {{{render_hooks 'Dashboard.Errors'}}}
  <div class="row-fluid">
    <div class="span3 side-wrap">
      <div class="inner-content">
        <section class="widget bare">
          <header class="header">
            <h2>Get Started</h2>
          </header>
          <section class="content">
            <ul class="get-started__list">
              <li class="get-started__list__item">
                <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Program" data-object-plural="programs" data-modal-reset="reset" data-form-target="redirect">
                  <span class="get-started__list__icon-wrap">
                    <i class="fa fa-program white"></i>
                  </span>
                  Start new Program
                </a>
              </li>

              <li class="get-started__list__item">
                <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Audit" data-object-plural="audits" data-modal-reset="reset" data-form-target="redirect">
                  <span class="get-started__list__icon-wrap">
                    <i class="fa fa-audit white"></i>
                  </span>
                  Start new Audit
                </a>
              </li>

              <li class="get-started__list__item">
                <a href="#QuickWorkflowCreate" data-toggle="modal">
                  <span class="get-started__list__icon-wrap">
                    <i class="fa fa-workflow white"></i>
                  </span>
                  Start new Workflow
                </a>
              </li>
              <li class="get-started__list__item">
                <a href="#QuickTaskCreate" data-toggle="modal">
                  <span class="get-started__list__icon-wrap">
                    <i class="fa fa-calendar-check-o white"></i>
                  </span>
                  Start new Task
                </a>
              </li>

              <li class="get-started__list__item get-started__list__item--top-space hidden-widgets-list">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="get-started__list__icon-wrap">
                    <i class="fa fa-plus-circle white"></i>
                  </span>
                  Create new object
                </a>
                <div class="dropdown-menu" role="menu">

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="AccessGroup" data-object-plural="access_groups" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-access_group color"></i>
                          Access Group
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Clause" data-object-plural="clauses" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-clause color"></i>
                          Clause
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Contract" data-object-plural="contracts" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-contract color"></i>
                          Contract
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Control" data-object-plural="controls" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-control color"></i>
                          Control
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Assessment" data-object-plural="assessments" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-assessment color"></i>
                          Assessment
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="DataAsset" data-object-plural="data_assets" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-data_asset color"></i>
                          Data Asset
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Facility" data-object-plural="facilities" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-facility color"></i>
                          Facility
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Issue" data-object-plural="issues" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-issue color"></i>
                          Issue
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Market" data-object-plural="markets" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-market color"></i>
                          Market
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Objective" data-object-plural="objectives" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-objective color"></i>
                          Objective
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="OrgGroup" data-object-plural="org_groups" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-org_group color"></i>
                          Org Group
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Person" data-object-plural="people" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-person color"></i>
                          Person
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Policy" data-object-plural="policies" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-policy color"></i>
                          Policy
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Process" data-object-plural="processes" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-process color"></i>
                          Process
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Product" data-object-plural="products" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-product color"></i>
                          Product
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Project" data-object-plural="projects" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-project color"></i>
                          Project
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Regulation" data-object-plural="regulations" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-regulation color"></i>
                          Regulation
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Request" data-object-plural="requests" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-request color"></i>
                          Request
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Risk" data-object-plural="risks" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-risk color"></i>
                          Risk
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Section" data-object-plural="sections" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-section color"></i>
                          Section
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Standard" data-object-plural="standards" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-standard color"></i>
                          Standard
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="System" data-object-plural="systems" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-system color"></i>
                          System
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Threat" data-object-plural="threats" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-threat color"></i>
                          Threat
                        </div>
                      </a>
                    </div>

                    <div class="inner-nav-item">
                      <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Vendor" data-object-plural="vendors" data-modal-reset="reset" data-form-target="redirect">
                        <div class="oneline">
                          <i class="fa fa-vendor color"></i>
                          Vendor
                        </div>
                      </a>
                    </div>
                </div>
              </li>
              <li class="get-started__list__item get-started__list__item--top-space">
                <a href="/objectBrowser">
                  <span class="get-started__list__icon-wrap">
                    <i class="fa fa-files-o white"></i>
                  </span>
                  All Objects
                </a>
              </li>
            </ul>
          </section><!-- Widget content end -->
        </section><!-- Widget end -->
      </div><!-- inner-content end -->
    </div>
    <dashboard-widgets class="span9 content-wrap">
      <div class="inner-content">
        <section class="widget dashboard small-margin">
          <header class="header widget-nav">
            <div class="row-fluid">
              <div class="span12">
                <ul>
                  <li class="active workflow-tab">
                    <a href="javascript://">
                      My Workflows (1)
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </header>
          <section class="content">
            <ul class="new-tree tree-one dashboard-tree workflow-tree">
              <li class="tree-item">
                <div class="item-wrap">
                  <div class="row-fluid">
                    <div class="span5">
                      <div class="item-data">
                        <div class="tree-title-area">
                          <div class="oneline">
                            <a href="/workflows/915#current_widget">My workflow</a>
                            <ul class="item-util">
                              <li>
                                Owned by:
                                <span class="person-holder">
                                  <a href="/people/323">
                                    <span class="person-tooltip-trigger" data-placement="top">
                                      Example User
                                    </span>
                                  </a>
                                </span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="span5">
                      <div class="tree-progress">
                        <div class="progress">
                          <div class="bar bar-finish" style="width: 0%;" rel="tooltip" data-original-title="Finished 0.00%"></div>
                          <div class="bar bar-verify" style="width: 0%;" rel="tooltip" data-original-title="Verified 0.00%"></div>
                          <div class="bar bar-progress" style="width: 0%;" rel="tooltip" data-original-title="In Progress 0.00%"></div>
                          <div class="bar bar-pending" style="width: 0%;" rel="tooltip" data-original-title="Pending 0.00%"></div>
                          <div class="bar bar-decline" style="width: 0%;" rel="tooltip" data-original-title="Declined 0.00%"></div>
                          <div class="bar bar-warning" style="width: 100%;" rel="tooltip" data-original-title="Overdue 100.00%"></div>
                        </div>
                        <ul class="item-util">
                          <li>
                            1 tasks in total / 0.00% completed
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="span2">
                      <div class="right">
                        <span class="overdue">Overdue</span>
                        <ul class="item-util">
                          <li>1/20/2016</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul><!-- tree-structure end -->
          </section>
        </section><!-- Widget end -->
      </div><!-- inner-content end -->
    </dashboard-widgets>
  </div>
</section>

{{> /static/mustache/task-creation/task_setup_modal.mustache }}

{{> /static/mustache/task-creation-dashboard/workflow_setup_modal.mustache }}
