<div id="WorkflowMapper"
  class="modal hide fade modal-selector ui-draggable"
  tabindex="-1"
  role="dialog"
  aria-labelledby="WorkflowMapperLabel"
  aria-hidden="true"
  data-template="/static/mustache/task-creation-dashboard/task_modal_mapper_content.mustache"
  {{data 'instance'}}>
  <div class="modal-inner-content">
  </div>
</div>
