<div id="QuickWorkflowCreate"
    class="modal hide fade modal-selector ui-draggable"
    tabindex="-1"
    role="dialog"
    aria-labelledby="QuickWorkflowCreateLabel"
    aria-hidden="true"
    data-template="/static/mustache/task-creation-dashboard/workflow_modal_content.mustache"
    {{data 'instance'}}
>
  <div class="modal-inner-content">
  </div>
</div>
