{{!
  Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: vladan@reciprocitylabs.com
  Maintained By: vladan@reciprocitylabs.com
}}

{{#tasks}}
<div class="modal-header">
  <a class="modal-dismiss pull-right" href="javascript://" data-dismiss="modal">
    <i class="fa fa-times black"></i>
  </a>
  <h2>Create new {{type}}</h2>
</div>
<div class="modal-body">

  <div class="row-fluid wrap-row">
    <div class="span12">
      {{> /static/mustache/mockup_base_templates/quick-task/summary.mustache}}
    </div>
  </div>

  <div class="row-fluid wrap-row">
    <div class="span8">
      <div class="row-fluid">
        <div class="span12">
          {{> /static/mustache/mockup_base_templates/quick-task/description.mustache}}

          {{> /static/mustache/mockup_base_templates/quick-task/additional_fields.mustache}}
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="row-fluid wrap-row">
        <div class="span12">
          {{> /static/mustache/mockup_base_templates/quick-task/assignee.mustache}}
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          {{> /static/mustache/mockup_base_templates/quick-task/workflow_list.mustache}}
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span8">
      {{> /static/mustache/mockup_base_templates/quick-task/objects_list.mustache}}
    </div>
    <div class="span4">
      <div class="row-fluid">
        {{> /static/mustache/mockup_base_templates/quick-task/dates.mustache}}
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="row-fluid">
    <div class="span6"></div>
    <div class="span6">
      <div class="confirm-buttons">
        <a tabindex="24" class="btn btn-small btn-info preventdoubleclick disabled" data-toggle="modal-submit-addmore"
        href="javascript://">
          Save &amp; Add Another
        </a>
        <a tabindex="25" class="modal-dismiss show-task-trigger btn btn-small btn-success preventdoubleclick disabled" data-toggle="modal-submit"
        href="/mockups/task-creation#Tasks">
          Save &amp; Close
        </a>
      </div>
    </div>
  </div>
</div>
{{/tasks}}

{{> /static/mustache/task-creation-dashboard/task_setup_mapper.mustache }}
