<div id="QuickWorkflowCreate" class="modal hide fade modal-selector ui-draggable" tabindex="-1" role="dialog" aria-labelledby="AssessmentDefineTemplateLabel" aria-hidden="true">
  <div class="modal-header">
    <a class="modal-dismiss pull-right" href="javascript://" data-dismiss="modal">
      <i class="fa fa-times black"></i>
    </a>
    <h2>Create new tasks</h2>
  </div>
  <div class="modal-body">

    <div class="row-fluid wrap-row">
      <div class="span12">
        <label>
          Map to object
        </label>
        <p>China market</p>
      </div>
    </div>

    <div class="define-attr">
      <div class="row-fluid wrap-row">
        <div class="task-add-list span12">

          <div class="attr-titles">
            <ul>
              <li class="row-fluid">
                <div class="span6">
                  <h6>
                    Task summary <span class="required">*</span>
                  </h6>
                </div>
                <div class="span2">
                  <h6>
                    Assignee
                    <i class="fa fa-question-circle" rel="tooltip" title="Enter the date this object becomes effective."></i>
                  </h6>
                </div>
                <div class="span2">
                  <h6>
                    Due on
                  </h6>
                </div>
                <div class="span2">&nbsp;</div>
              </li>
            </ul>
          </div>

          <div class="new-attr-list">
            <ul>
              {{> /static/mustache/mockup_base_templates/quick-task/task_item.mustache}}

              {{> /static/mustache/mockup_base_templates/quick-task/add_task.mustache}}
              <!--
                <add-template-filed fields="fields">
                </add-template-filed>
                {{#fields}}
                  <template-filed field="." fields="fields"></template-filed>
                {{/fields}}
              -->
            </ul>
          </div>

          <div class="pull-right">
            <a class="btn btn-small btn-info" href="#">Create and assign tasks</a>
          </div>

        </div>
      </div>
    </div><!-- define-attr end -->
  </div>

  <div class="modal-footer">
    <div class="row-fluid">
      <div class="span6"></div>
      <div class="span6">
        <div class="confirm-buttons">
          <a class="btn btn-small btn-draft preventdoubleclick " data-toggle="modal-submit" data-dismiss="modal" href="javascript://">
            Save draft
          </a>
          <a id="templateDefined" class="btn btn-small btn-success preventdoubleclick active-trigger disabled" data-toggle="modal-submit" data-dismiss="modal" href="javascript://" rel="tooltip" data-placement="left" title="" data-original-title="Save draft and go to Setup workflow to activate it">
            Activate
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
