<div id="IssueEdit"
    class="modal hide fade modal-selector ui-draggable"
    tabindex="-1"
    role="dialog"
    aria-labelledby="IssueEditLabel"
    aria-hidden="true"
    data-template="/static/mustache/test-workflow/issue_modal_content.mustache"
    {{data 'instance'}}
>
  <div class="modal-inner-content">
  </div>
</div>
