{{!
  Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: vladan@reciprocitylabs.com
  Maintained By: vladan@reciprocitylabs.com
}}

<h6>Email preferences</h6>
<div class="row-fluid inner-hide">
  <input data-id="email_preferences_chkbx" type="checkbox" name="notify_on_change" {{#if instance.notify_on_change}}checked="checked"{{/if}} tabindex="5">
  Force real-time email updates
</div>
