{{!
  Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: vladan@reciprocitylabs.com
  Maintained By: vladan@reciprocitylabs.com
}}

<h6>{{type}} folder</h6>
<span class="error">
  None assigned
</span>
<a href="javascript://" tabindex="" class="entry-attachment tree-item-add" data-toggle="gdrive-picker"
  data-model="Workflow" data-type="folders" data-id="">
  <i class="fa fa-paperclip attach-blue"></i> Assign folder
</a>
