{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: vladan@reciprocitylabs.com
    Maintained By: vladan@reciprocitylabs.com
}}

<h6>Task to be performed on object</h6>
<p>
  <i class="grcicon-{{object_type}}-color smallmargin"></i>
  <span class="cap">{{object_type}}:</span>
  <a href="javascript://" rel="tooltip" data-original-title="View {{object_type}}">
    {{object_title}}
    <i class="grcicon-goto smallmargin"></i>
  </a>
</p>
