{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: vladan@reciprocitylabs.com
    Maintained By: vladan@reciprocitylabs.com
}}

<h6>Comments</h6>
<ul class="entry-list">
	<li>
  	<span class="status-label status-"></span>
  		<div class="w-status">
    		{{comment_text}}

    		<div class="attachment-box">
    			<a href="javascript://" class="add-attachment-js-toggle"><i class="grcicon-attach"></i> Add attachment</a>
    			<div class="attach-item">
    				<form class="form-inline" action="#">
    					<label>
	    					Title
	    					<input type="text" class="input-large">
	    				</label>
	    				<label>
	    					URL
	    					<input type="text" class="input-large">
	    				</label>
	    				<a href="javascript://" class="btn btn-primary btn-small">Add</a>
    				</form>
    			</div>
    		</div>

    		<span class="entry-author">Modified by <a href="/people/323">Example User</a> on 10/08/2015 11:47:45pm PDT</span>
  		</div>
	</li>
	<li class="tree-footer tree-item-add inner-tree-footer non-stick">
  	<a href="javascript://" class="btn btn-primary btn-mini section-create">
			Add Comment
		</a>
	</li>
</ul>
