{{!
  Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: vladan@reciprocitylabs.com
  Maintained By: vladan@reciprocitylabs.com
}}

<div class="input-fields-wrap">
  <div class="row-fluid">
    <div class="span6">
      <a data-panel-trigger="input-trigger-checkbox" class="input-trigger btn btn-mini btn-draft" href="#">Add checkbox</a>
      <a data-panel-trigger="input-trigger-dropdown" class="input-trigger btn btn-mini btn-draft" href="#">Add dropdown</a>
    </div>
  </div>

  <div class="fields-panel">
    <div class="row-fluid panel" data-panel="input-trigger-dropdown">
      <div class="span12">
        <div class="wysiwyg-area bottom-no-margin">
          <textarea tabindex="3" class="span12 triple wysihtml5" placeholder="option 1, option 2, option 3"></textarea>
        </div>
        <a href="javascript://" class="close-panel-trigger">
          <i class="fa fa-times"></i> remove
        </a>
      </div>
      <!--
      <div class="span2">
        <p class="centered">
          <span class="wide-icon">
            <i class="fa fa-long-arrow-right"></i>
          </span>
          Preview
        </p>
      </div>
      <div class="span4">
        <select class="input-block-level">
          <option>example</option>
          <option>example 2</option>
          <option>example 3</option>
        </select>
      </div>
      -->
    </div>

    <div class="row-fluid panel" data-panel="input-trigger-checkbox">
      <div class="span12">
        <div class="wysiwyg-area bottom-no-margin">
          <textarea tabindex="3" class="span12 triple wysihtml5" placeholder="value 1, value 2, value 3"></textarea>
        </div>
        <a href="javascript://" class="close-panel-trigger">
          <i class="fa fa-times"></i> remove
        </a>
      </div>
      <!--
      <div class="span2">
        <p class="centered">
          <span class="wide-icon">
            <i class="fa fa-long-arrow-right"></i>
          </span>
          Preview
        </p>
      </div>
      <div class="span4">
        <label class="checkbox-inline">
          <input type="checkbox">
          example
        </label>
        <label class="checkbox-inline">
          <input type="checkbox">
          example 2
        </label>
        <label class="checkbox-inline">
          <input type="checkbox">
          example 3
        </label>
      </div>
      -->
    </div>
  </div>
</div>
