{{!
  Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: vladan@reciprocitylabs.com
  Maintained By: vladan@reciprocitylabs.com
}}

<h6>Assignee</h6>
{{#using contact=instance.contact}}
  <input data-id="contact_txtbx" tabindex="5" class="input-block-level" name="contact.email" data-lookup="Person"
  placeholder="Enter email address" type="text" value="Predrag Kanazir">
{{/using}}
