{{!
  Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: vladan@reciprocitylabs.com
  Maintained By: vladan@reciprocitylabs.com
}}

<h6>
  Make Recurring
  <i class="fa fa-question-circle" rel="tooltip" title="{{help_text}}"></i>
</h6>
<label class="input--inline">
  <input type="checkbox">
  <span class="small no-margin">Create a template task</span>
</label>
