{{!
  Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: vladan@reciprocitylabs.com
  Maintained By: vladan@reciprocitylabs.com
}}

<li class="row-fluid task-item-wrap">
  <div class="span6">
    {{#title}}
      {{value}}
    {{/title}}
  </div>
  <div class="span2">
    {{#assignee}}
      {{value}}
    {{/assignee}}
  </div>
  <div class="span2">
    <i class="fa fa-calendar"></i>
    {{#end_date}}
      {{value}}
    {{/end_date}}
  </div>
  <div class="span2">
    <ul class="controls-list pull-right">
      <li>
        <a href="#"><i class="fa fa-pencil-square-o"></i></a>
      </li>
      <li>
        <a href="#" class="remove-task-trigger"><i class="fa fa-trash"></i></a>
      </li>
    </ul>
  </div>
</li>
