<div id="QuickTaskCreate"
    class="modal hide fade modal-selector ui-draggable"
    tabindex="-1"
    role="dialog"
    aria-labelledby="QuickTaskCreateLabel"
    aria-hidden="true"
    data-template="/static/mustache/quick-workflow-v2.1-dashboard/workflow_modal_content.mustache"
    {{data 'instance'}}
>
  <div class="modal-inner-content">
  </div>
</div>
