<div id="WorkflowModalNoGdrive" class="modal hide fade modal-selector ui-draggable" tabindex="-1" role="dialog" aria-labelledby="WorkflowModalNoGdriveLabel" aria-hidden="true">
  <div class="modal-header">
    <a class="modal-dismiss pull-right" href="javascript://" data-dismiss="modal">
      <i class="grcicon-x-grey"></i>
    </a>
    <h2>Edit Workflow</h2>
  </div>
  <div class="modal-body">
    <div class="hideable-holder">
      <form action="javascript://">
        <!-- Reset button -->
        <div class="row-fluid">
          <div class="span12">
            <div class="pull-right reset-form">
              <p>
                <small><em>Fields are only temporarily hidden</em></small>
                <a id="formHide" tabindex="36" class="btn btn-small btn-draft" href="javascript://">Hide all optional fields</a>
                <a id="formRestore" tabindex="36" class="btn btn-small btn-draft" href="javascript://" style="display:none;">Show all optional fields</a>
              </p>
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span8">
            <label>
              Title
              <span class="required">*</span>
              <i class="grcicon-help-black" rel="tooltip" title="Title goes here"></i>
            </label>
            <input class="input-block-level required" placeholder="Enter Title" name="title" type="text" value="" tabindex="1" autofocus="">
            <br>
          </div>
          <div class="span4 hidable">
            <label>
              Manager
              <i class="grcicon-help-black" rel="tooltip" title="Workflow Managers are managed in the People widget."></i>
              <a href="javascript://" class="field-hide" tabindex="-1">hide</a>
            </label>
            <input type="hidden" name="owners.0.email" data-lookup="Person" value="">
            <input class="input-block-level" readonly="true" disabled="true" type="text" value="user@example.com" tabindex="2">
          </div>
        </div>

        <div class="row-fluid">
          <div class="span8 hidable">
            <label>
              Description
              <i class="grcicon-help-black" rel="tooltip" title="Description goes here"></i>
              <a href="javascript://" class="field-hide" tabindex="-1">hide</a>
            </label>
            <div class="wysiwyg-area">
              <textarea tabindex="2" id="system_description" class="span12 triple wysihtml5" name="description" placeholder="Enter Description"></textarea>
            </div>
          </div>
          <div class="span4 hide-wrap hidable">
            <div class="row-fluid inner-hide">
              <div class="span12 hidable">
                <label>
                  Frequency
                  <i class="grcicon-help-black" rel="tooltip" title="Choose frequency"></i>
                  <a href="javascript://" class="field-hide" tabindex="-1">hide</a>
                </label>
                <select tabindex="4" class="input-block-level" id="frequency" name="frequency">
                  <option value="one_time">One time</option>
                  <option value="weekly">Weekly</option>
                  <option value="monthly">Monthly</option>
                  <option value="quarterly">Quarterly</option>
                  <option value="annually">Annually</option>
                </select>
              </div>
            </div>
            <div class="row-fluid inner-hide">
              <div class="span12 hidable">
                <label class="second-in-column">
                  Email preferences
                  <i class="grcicon-help-black" rel="tooltip" title="This setting will override user email preferences"></i>
                  <a href="javascript://" class="field-hide" tabindex="-1">hide</a>
                </label>
                <input type="checkbox" name="notify_on_change" tabindex="5">
                Force real-time email updates
              </div>
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span8 hidable">
            <a href="javascript://" class="field-hide" tabindex="-1">hide</a>

            <div class="row-fluid wrap-row">
              <div class="span12 small-info ">
                <label class="multi-type-label">
                  Workflow Folder URL <span class="note">(optional)</span> <label style="display: inline"><i class="grcicon-help-black" rel="tooltip" data-original-title="If selected, all Workflow attachments go here."></i></label>
                </label>
                <input class="input-block-level" placeholder="Enter URL to the designated folder for this workflow" type="text" tabindex="6">
              </div>
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span8 hidable">
            <label>
              First task group's title
              <i class="grcicon-help-black" rel="tooltip" title="The name of the first task group"></i>
              <a href="javascript://" class="field-hide" tabindex="-1">hide</a>
            </label>
            <input class="input-block-level" placeholder="Enter Title" name="task_group_title" type="text" tabindex="7" value="Task Group 1" autofocus="">
            <br>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span8 hidable">
            <label>
              Custom "Start Workflow" email message
              <i class="grcicon-help-black" rel="tooltip" title="This email will be sent to all workflow members once workflow starts"></i>
              <a href="javascript://" class="field-hide" tabindex="-1">hide</a>
            </label>
            <div class="wysiwyg-area">
              <textarea tabindex="2" id="system_description" class="span12 triple wysihtml5" name="description" placeholder="Enter custom message here"></textarea>
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 hidable">
            <label>
              Code
              <i class="grcicon-help-black" rel="tooltip" title="The gGRC application will automatically provide codes for new objects.  If you would like to override this feature you may manually enter a code of your choosing.  You should have a specific reason for doing this."></i>
              <a href="javascript://" class="field-hide" tabindex="-1">hide</a>
            </label>
            <input tabindex="8" class="input-block-level" name="slug" placeholder="WORKFLOW-XXX" type="text" value="">
          </div>
        </div>

      </form>
    </div>

    <custom-attributes instance="instance">
      <div class="hideable-holder bare">
        <div class="row-fluid">

        </div>
      </div>
    </custom-attributes>
  </div>

  <div class="modal-footer">
    <div class="row-fluid">
      <div class="span6"></div>
      <div class="span6">
        <div class="confirm-buttons">
          <a id="templateDefined" class="btn btn-small btn-success preventdoubleclick " data-toggle="modal-submit" data-dismiss="modal" href="javascript://">
            Save
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
